body{ 
       margin: 30px;    
}
.fit{
       justify-content: space-around;
       padding: 20px;
       display: flex;
       width: 400px;
       margin: 0 auto;
       background: #ddebf8;
       color: #2b2839;
       border-bottom: 7px solid #d8cefe;

} 
.img{
       width: 150px;
}
.border{
       border: 1px dotted #2b2839;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
}








